<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>評価</th>
      <th>url</th>
      <th>カウント数</th>
      <th>ユニークカウント数</th>
      <th>最終投票日時</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.value_locale %></td>
        <td><%= link_to vote.url, vote.url, target: '_blank' %></td>
        <td><%= vote.cnt %></td>
        <td><%= vote.uniq_cnt %></td>
        <td><%= vote.latest_time.strftime('%F %R') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

